<div class="container mx-auto grid grid-cols-6 py-3 px-3 bg-pink-100">
  <div class="col-span-4">
    <p>MGYI LOGO</p>
  </div>
  <div class="col-span-2 flex gap-3 cursor-pointer">
    <p>Home</p>
    <p>About us</p>
    <p>Contact us</p>
    <p>Enquire</p>
  </div>
</div>

<div class="container mx-auto grid grid-cols-6 py-3 px-3 bg-pink-100">
  <div class="col-span-4 w-full">
    <div class="flex flex-col gap-4">
      <p class="font-bold text-3xl">Be kind to yourself,</p>
      <p class="font-bold text-3xl py-3 text-orange-500">Do Yoga Everyday!</p>
      <div class="text-xl font-semibold flex flex-col gap-4">
      <p>1. Increase flexibility and strength through regular practice.</p>
      <p>2. Improve posture and alignment for better body mechanics.</p>
      <p>3. Reduce stress and promote relaxation with breathing exercises.</p>
      <p>4. Enhance mental clarity and focus by calming the mind.</p>
      <p>5. Boost immune function and overall well-being with mindful movement!.</p>
      <p>6. Cultivate self-awareness and inner peace through mindfulness practices.</p>
      </div>
    </div>
  </div>
  <div class="col-span-2">
    <video class="w-96" autoplay loop>
      <source src="../../../assets/videos/buddha-video.mp4">
    </video>
  </div>
</div>


